/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #FFFFFF;
    font-size: 19px;
}

#hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width: 100vw;
        height: 250px;
        background-image: url("https://images.unsplash.com/photo-1591096376936-3b2103b708e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1422&q=80");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        padding: 150px 0px;

}

#hero h1 {
    background-color: #1D3557;
    color: #F1FAEE;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
    padding: 15px 0px;
    
   
} 

#hero h2 {
    background-color: #457B9D;
    color: #F1FAEE;
    display: inline-block;
    border-radius: 5px;
    padding: 15px;
    max-width: 500px;
    
}


#top-three {
    background-color: #F1FAEE;
    color: #1D3557;
    width: 100vw;    
    padding-top: 75px;
    padding-bottom: 75px; 
}

h3 {
    font-size: 1.4em;
}

#activities {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.card img {
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.image-text {
    padding-top: 10px;
}

#guide {
    background-color: #A8DADC;
    display: flex;
    padding: 10px;
    width: 500px;
    border-radius: 6px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

#guide img {
    height: 200px;
    
}

.guide-text  {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.guide-text > * {
    margin: 20px;
}

.guide-text p {
    font-style: italic;

}
